.logo-slider {
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.logo-card {
  width: 220px;
  height: 100px;
  background: #fff;
  border-radius: 18px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
}

.logo-card img {
  max-width: 140px;
  max-height: 60px;
  object-fit: contain;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



.logo-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}

/* Left Fade */
.logo-slider::before,
.logo-slider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

/* Left Side */
.logo-slider::before {
  left: 0;
  background: linear-gradient(
    to right,
    #f8f8f8 0%,
    rgba(248, 248, 248, 0) 100%
  );
}

/* Right Side */
.logo-slider::after {
  right: 0;
  background: linear-gradient(
    to left,
    #f8f8f8 0%,
    rgba(248, 248, 248, 0) 100%
  );
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}